{% extends 'base.html' %}
{% block start %}
    <div class="container p-5 mt-5 shadow" style="background-color: #f8f9fa; border-radius: 8px;">
        <h1 class="model-title text-center mb-5" style="font-size: 2.5rem;">Explore Our Brands</h1>
        
        <div class="row justify-content-center">
            {% for brand in query_set %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                <div class="card shadow-sm" style="width: 100%;">
                    <!-- Ensuring the image is fully visible with object-fit: contain -->
                    <img src="{{ brand.brand_image.url }}" class="card-img-top" alt="{{ brand.brand_name }}" style="height: 200px; object-fit: contain;">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ brand.brand_name }}</h5>
                        <a href="/models/{{ brand.brand_name }}" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
