{% extends 'base.html' %}
{% block start %}
    <div class="container p-5 shadow-lg">
        <h1 class="model-title" style="text-align: center;">BRAND</h1>
        <div class="row">
            {% for brand in query_set %}
            <!-- <div class="col-md-4 mb-3">
                <a href="/models/{{ row.Brand }}">
                    <div class="brand">
                    <img src="{{ brand.brand_image.url }}" alt="{{ brand.brand_name }}" class="brand-img"> 
                    <h3>{{brand.brand_name}}</h3>            
                </div>
                </a>
            </div> -->
            <div class="card m-3" style="width: 18rem;">
                <img src="{{ brand.brand_image.url }}" class="card-img-top" alt="brand.brand_name">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">{{brand.brand_name}}</h5>
                  <a href="/models/{{brand.brand_name}}" class="btn btn-primary mx-auto d-block">Explore</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
