{% extends 'base.html' %}

{% block start %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <form class="col-8 col-md-6 col-lg-4 card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h1 class="text-center">Log In</h1>
        <hr>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" name="username">
        </div>

        <div class="mb-3">
          <label for="pass" class="form-label">Password</label>
          <input type="password" class="form-control" id="pass" name="password">
        </div>

        <p>Don't have an Account <a href="/signup">SignUp</p>

        <button type="submit" class="btn btn-primary">Log in</button>

    </form>
</div>

{% endblock %}

