{% extends 'base.html' %}
{% block start %}
    <div class="container p-5 shadow-lg">
        <h1 class="model-title" style="text-align: center;">model</h1>
        <div class="row">
            {% for model in query_set %}

            <div class="card m-3 p-4" style="width: 18rem;">
                <img src="{{ model.model_image.url }}" class="card-img-top" alt="model.model_name">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">{{model.model_name}}</h5>
                  <a href="/spares/{{model.model_name}}" class="btn btn-primary mx-auto d-block">Explore</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
